.toastBar {
  position: fixed;
  background: var(--bg-tertiary);
  color: var(--text-primary);
  top: 2%;
  left: 5%;
  right: 5%;
  z-index: 109;
  padding: 10px;
  border-radius: 12px;
  border: 1px dashed var(--text-secondary);
  transition: top 1s ease;
  animation: slideIn 0.3s, slideOut 0.3s 4.7s forwards;
}

.toastBar.show {
  top: -100%;
}

.toastWrapper {
  padding: 10px;
  display: flex;
  align-items: flex-start;
  gap: 12px;
}

.toastIcon {
  font-size: 2rem;
}

.toastContent {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.toastContent h3 {
  font-size: 1rem;
  letter-spacing: 1px;
}

.toastContent p {
  color: var(--text-secondary);
  font-size: .8rem;
  letter-spacing: 1px;
}

/*@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}*/